<header class="content header cf">
    <a href="#/" class="btn btn-white"><i class="fa fa-chevron-left"></i> Back to the list</a>
</header>

<section class="content">
  <form class="panel cf" ng-submit="saveProbe()">
      <div class="text-input">
          <input type="text" ng-model="title" placeholder="Ping Name" autofocus>
          <div class="underline"></div>
      </div>
      <div class="text-input">
          <input type="text" ng-model="url" placeholder="Ping URL">
          <div class="underline"></div>
      </div>
      <div class="submit-area right">
          <a href="#/config" class="btn btn-white">Cancel</a>
          <button type="submit" class="btn">{{ isNew ? 'Add' : 'Save' }}</button>
      </div>
  </form>
</section>
