/*************************************************/
/****************** Angular-SCP ******************/
/*************************************************/
/* Include this file in your html if you are using the CSP mode. */
@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}


/*************************************************/
/********************* Reset *********************/
/*************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************/
/******************* My styles *******************/
/*************************************************/
body, a, button {
	font-family: 'Open Sans', sans-serif;
}
button {
	background: none;
	border: none;
}
body {
	background-color: #fafafa;
	margin: 20px 0;
}
a {	text-decoration: none; }
.link {	color: #999; text-decoration: none; }
.link:hover {
	text-decoration: underline;
}

.content {
	margin: 0 auto;
	width: 420px;
}
.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }
/* close commented backslash hack */
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}

.header {
	margin-bottom: 20px;
	padding: 0 15px;
	min-height: 35px;
}
.header-left {
	float:left;
	width: 33.3333%;
}
.header-center {
	float: left;
	text-align: center;
	width: 33.3334%;
}
.header-right {
	float: right;
	width: 33.3333%;
	font-size: 22px;
	min-height: 35px;
	text-align: right;
}
.header-item {
	color: #4285f4;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	line-height: 35px;
	padding: 0 10px;
}
.center { text-align: center; }
.btn {
	display: inline-block;
	background-color: #4285f4;
	color: #FFF;
	font-size: 14px;
	line-height: normal;
	text-transform: uppercase;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px,
		rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px,
		rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
	cursor: pointer;
	outline: none;
}
.btn + .btn {
	margin-left: 1em;
}
.btn:active {
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}
.btn:focus {
	font-weight: bold;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}
.btn[disabled] {
	box-shadow: none;
  	background: #eaeaea;
  	color: #a8a8a8;
  	cursor: auto;
  	pointer-events: none;
}
.btn.btn-white {
	background-color: #fff;
	color: #000;
}

.panel {
	margin: 0 0 10px;
	padding: 15px 20px;
	background: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.panel-list {
	padding-right: 0px;
	padding-left: 0px;
}
.ping {
	position: relative;
}
.ping:first-of-type {
	margin-top: 0;
}
.ping-title {
	font-size: 20px;
	font-weight: 300;
	color: #000;
	margin-bottom: 4px;
}
.ping-url {
	font-size: 14px;
	font-weight: 400;
	color: #999;
	text-overflow: ellipsis;
}
.ping-timing {
	position: absolute;
	right: 15px;
	bottom: 12px;
	text-align: right;
	font-size: 20px;
}
.timing-good {
	color: #00695c;
}
.timing-avg {
	color: #ff6d00;
}
.timing-bad {
	color: #C51162;
}
.timing-fail {
	color: #90A4AE;
}
.timing-icon {
	display: block;
	line-height: 42px;
	font-size: 28px;
	margin-right: 12px;
}
.timing-value {
	font-size: 30px;
	font-weight: 300;
}
.timing-units {
	display: inline-block;
	width: 25px;
	margin-left: 2px;
	text-align: left;
	font-size: 16px;
	font-weight: 300;
}
.timing-inProgress {
	font-size: 12px;
	color: #888;
	position: absolute;
	top: 15px;
	right: 15px;
}

.list {

}
.list-item {
    padding: 12px 20px;
    border-top: #EEE solid 1px;
}
.list-item:first-child {
	border-top: none
}
.list-item-body {

}
.list-item-action {
	float: right;
	cursor: pointer;
	color: #90A4AE;
	width: 38px;
	height: 38px;
	text-align: center;
	font-size: 16px;
}
.list-item-action:hover {
	background: #ECEFF1;
	/* color: #fff; */
	border-radius: 50%;
}
.submit-area {
	margin-top: 15px;
}
.submit-area-padding {
	padding-right: 15px;
	padding-left: 15px;
}
.text-input {
	display: block;
	margin: 10px 0 15px;
}
.text-input input {
	display: block;
	width: 100%;
	color: #212121;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-weight: 400;
	line-height: 2.4em;
	outline: none;
	box-shadow: none;
	padding: 0;
	background: transparent;
	border: none;
	padding: 0 0.5em;
	box-sizing: border-box;
}
.text-input .underline {
	display: block;
	border-bottom: #888 solid 1px;
}
.css-form input.ng-invalid.ng-touched {
	background-color: #FCE4EC;
}
.css-form input.ng-invalid.ng-touched + .underline {
  border-color: #F48FB1;
}
.css-form input.ng-valid.ng-touched + .underline {
  border-color: #80CBC4;
}
